html, body{
    @include reset();
    background-color: #f4f4f4;
    min-width: 1200px;
}

#wrapper{
    padding: 0 2em;
    margin: 0 10%;
    background-color: #fff;
    border: 1px solid #666;
    /* Disable text selection */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

img {
    vertical-align: middle;
    border: 0;
}

header{
    background-color: #036;
    color: #ccc;
    line-height: 150%;
    padding: 1em;
}



footer {
    padding: 2em;

    h2{
        font-size: 1em;
    }

    ul{
        list-style-type: none;
        @include reset();
        li{
            list-style-type: none;
            display: inline;
            margin: 0 1em;
        }
    }
}


.problem{
    border-top: 1px solid #333;
    padding: 2em;
}

.problem:hover, .problem:focus{
    background-color:#fefed0;
}
