
table {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: auto;
    background-color: #fff;


    th, td {
        padding: .25em;
    }
}

.data_table{
    caption {
        font-weight: bold;
        font-size: 1em;
    }

    th, td {
        padding: .25em;
        border: 1px solid #2C3E50 !important;
    }

    thead th {
        background-color: #ddd;
        color: #000;
    }

    tbody th {
        text-align: left;
        background-color: #fff;

    }

    tbody tr:nth-child(even) {
        background-color: #eee;
    }



}
