
html, body {
    font-family: $font-family-sans;
}

ul {
    list-style-type: square;
}

ol, ul {
    margin-left: .75em;
    margin-top: 0;
    margin-bottom: 10.5px
}

ul ul, ol ul, ul ol, ol ol {
    margin-bottom: 0
}

main a{
    background: transparent;
    text-decoration: none;
    color: #333;
}

code {
    color: #000;
    font-family: 'Source Code Pro', 'courier new', sans-serif;
    word-wrap: break-word;
}

p.explanation{
    font-weight: bold;
}
