/**
* Colors
*/

$kg_blue: #003;

/**
* Typography
*/
$font-size: medium;
$font-family-sans: Calibri, Candara, Geneva, sans-serif;
$font-family-serif: Garamond, Cambria, Georgia, serif;
$font-family-mono: Consolas, Monaco, Courier New, monospace;
$line-height: 150%;
$radius: 5px;
$grid-pad: .2em;
$header-font-family: $font-family-serif;
$header-font-weight: bold;

/**
* Forms
*/
$form-field-width: 300px;
$textarea-height: 10em;
